*{
    padding: 0;
    margin: 0;
    text-decoration:none ;
     
}

body{
  overflow-x: hidden;
}

nav{
    text-align: left;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 0px;
  }
  
  .navbar ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  




  .navbar li {
    margin-right: 10px;
  }
  
  .navbar li:last-child {
    margin-right: 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline; 
  }
  

.navdiv{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    text-align: center;
    margin: 0 0 0 0;
    padding-right: 50px;
}

.navdiv ul{
    display: inline-flex;
    text-align: center;
    margin-left: 90px;
    padding: 5px 3px 5px 5px;
}
.navdiv ul li{
    list-style: none;
    display: inline-block;
    text-align: left;
    margin: 10px;
    padding: 1px;
}

.navdiv ul li a{
    color:rgba(104, 248, 110, 1);
    font-size: 16px;
    padding-right: 50px;
    text-align: left;
    margin-right:10px;
    line-height:24.2px ;

}

.BookService ul{
    border-radius:5.82px ;
    border: 2px solid rgba(104, 248, 110, 1) ;
    padding-left: 50px;
    margin-left: 30px;
}

.logo img{
    height:81px ;
    width: 81px;
    margin-top: 17px;
    margin-left: 40px;
}

.newArrival{
  background-color: black;
  height: 120vh;
  width: auto;

}

.newArrival h3{
  font-family: manrope, sans serif;
  font-size: 24px;
    text-align: center;
    margin-top: 60px;
    color: #68f86e;
}


.imglist{
    width: 100%;
    position: absolute;
    margin-top: 25px;
    display: flex;
    padding: 10px 10px;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overscroll-behavior-inline: contain;
    
}


.imglist::-webkit-scrollbar {
  display: none;
}

.imglist:hover {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; 
}

.img1{  
  
  flex: 0 0 auto;
  padding: 10px;
  margin-right: 10px;
  white-space: nowrap
   /*margin: 20px;*/

}

.img1:last-child{
  margin-right: 0;
}

img{
  width: 100%;
}


.clothingMsg{
  color: white;
    position: absolute;
    margin-top: 400px;
    text-align: center;
    line-height: 25px;
    padding: 15px 100px;
    margin: 400px 50px 0px 50px;

}


.btn{
  border-radius: 10px;
  position:absolute;
  border: 2px solid #68f86e;
  width: 150px;
  margin-left: 700px;
  margin-top: 550px;
  margin-bottom: 30px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  color:#68f86e;
}


.instruction{
  text-align: center;
  position: absolute;
  top: 520px;
  left: 500px;
  font-size: 28px;
  font-weight: 400px;
  line-height: 32.78px;
  color: white;
  position: absolute;
  line-height: 25px;
  
}

#booking{
  font-family: manrope, sans serif;
  font-size: 48px;
  font-weight:800px;
  line-height: 58.09px;
  text-align: center;
  margin-top: 60px;
  color: #68f86e;
}

#butt{
  border-radius: 10px;
  position:absolute;
  border: 2px solid #68f86e;
  width: 150px;
  margin-left: 700px;
  margin-top: 400px;
  margin-bottom: 30px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  color:#68f86e;

}